<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
         point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
      <codeMiningProvider
         class="org.eclipse.jdt.junit.codemining.JUnitCodeMiningProvider"
         id="org.eclipse.jdt.junit.codemining"
         label="%JUnitCodeMiningProvider.label">
         <enabledWhen>
            <with variable="editorInput">
               <adapt type="org.eclipse.core.resources.IFile">
                  <test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.jdt.core.javaSource" />
               </adapt>
           	</with>
         </enabledWhen>
      </codeMiningProvider>
   </extension>  
</plugin>
