<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point id="codeMiningProviders" name="%ExtPoint.codeMiningProviders" schema="schema/codeMiningProviders.exsd"/>
	<extension-point id="codeMiningProviderTargets" name="%ExtPoint.codeMiningProviderTargets" schema="schema/codeMiningProviderTargets.exsd"/>

</plugin>
